$win-color: #4caf50;
$draw-color: #221717bb;
$loose-color: #f44336;
$table-bg: #09250d;
$text-color: #cefdfd;
$input-color: #118aff;
$font-ubuntu: "Ubuntu", sans-serif;
$font-comfortaa: "Comfortaa", sans-serif;
