@use "../util/vars" as *;
@use "../util/mixins" as *;

.join-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__title {
		@include font-ubuntu(700);
		font-size: 2.5rem;
		color: $text-color;
		margin-bottom: 2rem;
		text-align: center;
	}
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
	&__input {
		@include font-ubuntu;
		font-size: 1.125rem;
		color: $text-color;
		border: none;
		background-color: $input-color;
		padding: 12px 20px;
		border-radius: 8px;
		width: 300px;
		&::placeholder {
			color: $text-color;
		}
	}
	&__actions {
		display: flex;
		gap: 10px;
	}
	&__btn {
		@include font-comfortaa(700);
		font-size: 1.25rem;
		color: $text-color;
		border: none;
		padding: 12px 24px;
		border-radius: 8px;
		cursor: pointer;
		&--start {
			background-color: $win-color;
		}
		&--join {
			background-color: $input-color;
		}
		&--create {
			background-color: $input-color;
		}
		&--leave {
			background-color: $loose-color;
		}
	}
	&__status {
		@include font-ubuntu(400);
		color: $text-color;
		font-size: 1.25rem;
		margin-top: 1rem;
	}
	&__code {
		@include font-ubuntu(500);
		font-size: 1.5rem;
		color: $text-color;
		span {
			@include font-ubuntu(700);
			color: lighten($secondary-color, 20%);
		}
	}
}
