@use "../util/vars" as *;
@use "../util/mixins" as *;


.hand-display {
	&__cards {
		display: flex;
		gap: 10px;
		justify-content: center;
	}
	&__card-img {
		width: 100px;
	}
	&__score {
        @include font-ubuntu(700);
        font-size: 1.125rem;
        margin-top: 0.5rem;
	}
} 
