@use "../util/vars" as *;
@use "../util/mixins" as *;


.hand-display {
	&__cards {
		display: flex;
		gap: 10px;
		justify-content: center;
	}
	&__card-img {
		width: 100px;
	}
	&__score {
        @include font-ubuntu(700); // Changed to Ubuntu for consistency with other info text
        font-size: 1.125rem; // Consistent with input text
        margin-top: 0.5rem; // Added some spacing
	}
} 
