@use "../util/vars" as *;
@use "../util/mixins" as *;


.hand-display {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__cards {
		display: flex;
		gap: 10px;
		justify-content: center;
	}
	&__card-img {
		width: 100px;
		height: auto;
		display: block;
	}
	&__score {
        @include font-ubuntu(700);
        font-size: 1.125rem;
        margin-top: 0.5rem;
	}
} 
